@import "bourbon";

.light {
	@include size(20px);
	@include margin(10px);
	border-radius: 20px;
	border: medium solid black;
}

.light-on {
	@extend .light;
	background-color: red;
}

.light-off {
	@extend .light;
	background-color: white;
}
