@import "bourbon";

.math-layout {
	@include position(absolute, 0 0 0 0);
	@include size(100%);

	display: inline-flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	align-content: center;

	background: #c5dae4;
}

.title {
	font-family: 'Arial';
	font-size: 24px;
	font-weight: 700;
}

.answer-box {
	@include margin(10px);
	@include padding(5px);
	@include size(200px, 20px);

	background: rgba(225, 225, 225, 0.25);
	border-radius: 10px;
}
